<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bluemoon.common.userPark.mapper.UserParkCommonMapper" >
  <resultMap id="BaseResultMap" type="cn.com.bluemoon.common.userPark.po.UserPark" >
  		<id column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  		<id column="nick_name" property="nickName" jdbcType="VARCHAR" />
  		<id column="name" property="name" jdbcType="VARCHAR" />
  		<id column="mobile" property="mobile" jdbcType="VARCHAR" />
  		<id column="plate" property="plate" jdbcType="VARCHAR" />
  		<id column="address" property="address" jdbcType="VARCHAR" />
    
  </resultMap>
  <select id="queryEntity" parameterType="java.util.HashMap" resultMap="BaseResultMap"> 
		SELECT c.update_time as updateTime, a.nick_name as nickName, a.`name` as name, a.mobile as mobile, a.plate as plate, c.address as address  from sys_user a LEFT JOIN  place_rent b on a.id = b.owner_id LEFT JOIN park c on b.park_id = c.id where 1=1 and b.owner_id is not null 
				<if test="updateTime != '' and null != updateTime" >
					AND updateTime = #{updateTime}
				</if>
				<if test="nickName != '' and null != nickName" >
					AND nickName = #{nickName}
				</if>
				<if test="name != '' and null != name" >
					AND name = #{name}
				</if>
				<if test="mobile != '' and null != mobile" >
					AND mobile = #{mobile}
				</if>
				<if test="plate != '' and null != plate" >
					AND plate = #{plate}
				</if>
				<if test="address != '' and null != address" >
					AND address = #{address}
				</if>
	 limit #{startIndex}, #{pageSize}
  </select>
  
  
  <!-- 根据前台条件，获取记录总数,注意：这里不支持子查询、union查询,如果有时间的过滤，需要自己手动添加 -->
  <select id="getTotalEntity" parameterType="java.util.HashMap" resultType="java.lang.Integer"> 
	select count(1) as num from sys_user a LEFT JOIN  place_rent b on a.id = b.owner_id LEFT JOIN park c on b.park_id = c.id where 1=1 and b.owner_id is not null 
			<if test="updateTime != '' and null != updateTime" >
				AND updateTime = #{updateTime}
			</if>
			<if test="nickName != '' and null != nickName" >
				AND nickName = #{nickName}
			</if>
			<if test="name != '' and null != name" >
				AND name = #{name}
			</if>
			<if test="mobile != '' and null != mobile" >
				AND mobile = #{mobile}
			</if>
			<if test="plate != '' and null != plate" >
				AND plate = #{plate}
			</if>
			<if test="address != '' and null != address" >
				AND address = #{address}
			</if>
  </select>
  
</mapper>